body {
    margin: 0;
    padding: 0;
  }
  
  * {
    margin: 0;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  
    display: grid;
    grid-template-columns: 20% auto;
  }
  
  .header {
    width: 30%;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
    padding: 5px 0;
  }
  
  table {
    border: 2px solid grey;
    width: 90%;
    margin: 20px 5%;
  }
  
  th {
    border-bottom: 1px solid black;
  }
  
  td {
    text-align: center;
  }
  